body{
    background:linear-gradient(to right, #700CE8,#3000FF,#0C1FE8);
}

h1 {
    text-align: center;
    color:whitesmoke;
    font-weight: bold;
    background-color:#0C1FE8;
    width: 50%;
    margin: 0 auto 2.5em;
    padding: 10px 2px;

}


#cubo{
    height: 10em;
    width: 20em;
    background-color: #0C54E8;
    margin:0 auto;
    position: relative;
}

.Radius{
    width: 2.5rem;
    position: absolute;
    border-radius: 4px;
    border:none;
    font-weight: bold;
}

.R {
    right:-3.5em; 
}

.L {
    left: -3.5em;
}

.B {
    bottom: 0em;
}

#copyE{
    background-color: #0C54E8 ;
    width: 50%;
    max-width: 20em;
    padding: 10px 2.5px;
    margin: 1em auto;
    border-radius: 4px;
}

#copyE input{
    border: none;
    padding: 2px 1px;
    border-radius: 4px;
    background-color:whitesmoke;
    width: 75%;
    font-weight: bold;
}
#copyE button{
    border: none;
    padding: 2px 1px;
    border-radius: 4px;
    background-color:#0D9CFF;
    font-weight: bold;
    width:20%;
    color:whitesmoke
}

